*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: #d0eaff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product{
    width: 90%;
    max-width: 750px;
    display: flex;
}
.gallery{
    flex-basis: 45%;
    /* background: #241e20; */
    box-shadow: -10px 5px 30px 5px rgba(0, 0, 0, .1) ;
    transform: scale(1.08);
    position: relative;
}
.gallery img{
    width: 100%;
    display: block;
}
.controls{
    position: absolute;
    bottom: 40px;
    right: 20px;
}
.btn{
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(167, 164, 164, 0.5);
    margin: 10px;
    cursor: pointer;
}
.btn.active{
    background: #553ff0;
}
.details{
    flex-basis: 53%;
    background: #241e20;
    padding: 40px;
    padding-left: 60px;
    box-shadow: 10px 5px 30px 5px rgba(0, 0, 0, .1) ;
    color: #fff;
}
.details h1{
    font-size: 38px;
}
.details h2{
    font-size: 30px;
    font-weight: 600;
}
.details h3{
    font-size: 18px;
    color: #553ff0;
    font-weight: 400;
}
.details p{
    font-size: 13px;
    margin-top: 20px;
    color: #ebebeb;
}
.details form{
    font-size: 15px;
    font-weight: 400;
}
.size-select {
    display: flex;
    align-items: center;
    margin-top: 40px;
}
.size-select h4{
    width: 70px;
}
.size-select input:checked + span {
    color: #553ff0;
    font-weight: 500;
}
.size-select input{
    display: none;
}
.size-select span{
    padding: 5px;
    margin-right: 10px;
}
.color-select{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.color-select h4{
    width: 70px;
}
.color-select span{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 10px;
}
.color-1{
    background: rgb(214, 12, 12);
}
.color-2{
    background: rgb(26, 25, 25);
}
.color-3{
    background: rgb(240, 238, 238);
}
.color-4{
    background: rgb(245, 133, 28);
}
.color-select input{
    display: none;
}
.color-select input:checked + span {
    transform: scale(.7);
    box-shadow: 0 0 0 2px #fff, 0 0 0 5px #553ff0;
}
.quantity-select{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.quantity-select h4{
    width: 75px;
}
.quantity-select input{
    border: none;
    outline: none;
    padding: 2px 2px 2px 15px;
    width: 50px;
    border-radius: 12px;
}
form button{
    background: #553ff0;
    padding: 10px;
    border: none;
    outline: none;
    color: #fff;
    width: 100%;
    font-size: 17px;
    margin-top: 50px;
    border-radius: 30px;
    box-shadow: 0 10px 10px rgba(85, 6, 240, .2);
    cursor: pointer;
}
